.lab-card {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12) !important;
  border: 1px solid rgba(0, 119, 204, 0.1);
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  border: 1px solid rgba(0, 119, 204, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.lab-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 36px rgba(0, 0, 0, 0.12);
}

.lab-card .welcome {
  font-size: 1.05rem;
  line-height: 1.8;
  color: #2c3e50;
  text-align: justify;
}

.lab-card .welcome h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #004080;
}

.lab-card .welcome a {
  color: #004080;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px dashed #0077cc;
  transition: color 0.2s ease, border-color 0.2s ease;
}

.lab-card .welcome a:hover {
  color: #005a9f;
  border-color: #005a9f;
}

.lab-card  {
  background: #ffffff;
  border-radius: 18px;
  padding: 1.5rem;
  box-shadow: inset 0 0 8px rgba(0,0,0,0.05);
}

.lab-news{
  background: black;
  border-radius: 18px;
  padding: 1.5rem;
  box-shadow: inset 0 0 8px rgba(237, 234, 234, 0.05);
  color: white;
}

.lab-card h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-bottom: 0.6rem;
  border-bottom: 3px solid #0077cc;
  color: #004080;
}

.lab-news h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-bottom: 0.6rem;
  border-bottom: 3px solid white;
  color: white;
}

.lab-card .lab-news .quarto-listing .quarto-listing-container-default {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lab-news #listing-recent-blog-listing {
    margin-right: 0em !important;
}

.lab-card .lab-news .quarto-post {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem;
  background: #f8fbff;
  border-radius: 14px;
  transition: transform 0.25s ease, box-shadow 0.25s ease, background 0.25s ease;
}

.lab-card .lab-news .quarto-post:hover {
  transform: translateY(-2px);
  background: #eef6ff;
  box-shadow: 0 4px 12px rgba(0, 119, 204, 0.15);
}

.lab-card .lab-news .quarto-post img {
  height: 70px;
  border-radius: 12px;
  object-fit: cover;
  flex-shrink: 0;
  border: 1px solid black;
}

.lab-card .lab-news .listing-title {
  font-size: 1rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 0.2rem;
}

.lab-card .lab-news .listing-title:hover {
  color: #0077cc;
}

.lab-card .lab-news .listing-date {
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 0.3rem;
}

.lab-card .lab-news .body {
  font-size: 0.9rem;
  color: #444;
}

@media (max-width: 900px) {
  .lab-card {
    grid-template-columns: 1fr;
  }
}
